/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url('../media/fondo2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
}

/* Header */
/* Header */
.header {
  width: 100%;
  padding: 20px;
  background-color: #504d4d;
  text-align: center;
}

.header-title {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  font-size: 36px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-title:hover {
  color: #dae453;
}

/* Intro */
.intro {
  text-align: center;
  margin: 20px 0;
}

.intro h2 {
  font-size: 1.8rem;
  color: #6D4C41;
}

/* Library */
.library {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.library-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  background-color: #f8f0d4;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: calc(33.333% - 20px);
  min-height: 200px;
}

.card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  flex: 1;
  text-align: left;
}

.card-left h3 {
  margin-bottom: auto;
  font-size: 1.2rem;
  color: #6D4C41;
}

.card-left .story-actions {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: auto;
}

.card-right {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.card-right img {
  width: 100%; /* Aseguramos que la imagen ocupe todo el contenedor */
  max-width: 90%; /* Opcional: ajusta el tamaño máximo relativo */
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.more-info-button {
  position: absolute;
  width: 90%; /* Coincide con el ancho máximo de la imagen */
  bottom: 0px; /* Ajusta para mantenerlo dentro del contorno de la imagen */
  left: 5%; /* Centra horizontalmente al ajustar un margen proporcional */
  background-color: #103d68; /* Fondo semi-transparente */
  color: white;
  text-decoration: none;
  padding: 10px 0; /* Ajuste del espacio interno */
  font-size: 0.9rem;
  text-align: center;
  border-bottom-left-radius: 8px; /* Coincide con las esquinas redondeadas de la imagen */
  border-bottom-right-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.more-info-button:hover {
  background-color: rgba(22, 138, 247, 0.9);
  transform: scale(1.02); /* Efecto de zoom ligero */
}



.action-button.read {
  margin: 5px 0;
  background-color: #103d68;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.action-button.listen {
  margin: 5px 0;
  background-color: #9b3a0d;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.action-button:hover.read{
  background-color: rgba(22, 138, 247, 0.9);
  transform: scale(1.02);
}
.action-button:hover.listen {
  background-color: #d66c09;
  transform: scale(1.02);
}

/* Responsiveness */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    width: 100%;
  }

  .card-left, .card-right {
    align-items: center;
    text-align: center;
  }
}
