/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #FDF3E3;
  color: #333;
  padding: 20px;
}

/* Header */
.header {
  width: 100%;
  background-color: #FFCC80;
  padding: 10px;
  text-align: center;
}

.header-title {
  font-size: 2rem;
  color: #6D4C41;
  text-decoration: none;
  font-weight: bold;
}

/* Intro */
.intro {
  text-align: center;
  margin: 20px 0;
}

.intro h2 {
  font-size: 1.8rem;
  color: #6D4C41;
}

/* Library */
.library {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.library-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  background-color: #FFF8E1;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: calc(33.333% - 20px);
  min-height: 200px;
}

.card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  flex: 1;
  text-align: left;
}

.card-left h3 {
  margin-bottom: auto;
  font-size: 1.2rem;
  color: #6D4C41;
}

.card-left .story-actions {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: auto;
}

.card-right {
  flex: 1;
  display: flex;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}

.card-right img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.action-button {
  margin: 5px 0;
  background-color: #FFB74D;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.action-button:hover {
  background-color: #FF8A65;
}

/* Responsiveness */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    width: 100%;
  }

  .card-left, .card-right {
    align-items: center;
    text-align: center;
  }
}
